@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
* {
  box-sizing: border-box;
}

body {
  font-family: "Crimson Pro", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

#root {
  min-height: 100vh;
  max-width: 600px;
  margin-inline: auto;
}

nav {
  max-width: 1024px;
  margin-inline: auto;
  padding: 1rem;
}

h1 {
  position: relative;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 2rem;
}

nav span {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
}

nav span b {
  font-family: "Nunito";
  font-weight: 100;
  text-transform: uppercase;
  font-size: smaller;
  display: block;
}

form {
  width: 100%;
  max-width: 26rem;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-direction: column;
}

.form-container img {
  border-radius: 50%;
  max-width: 300px;
  object-fit: cover;
}

.legal-label {
  display: block;
  font-size: 1rem;
  font-family: Nunito;
  padding-bottom: 0.5rem;
  color: rgb(63, 63, 70);
  text-align: left;
  font-weight: 400;
  width: 100%;
}

.legal-input,
.legal-textarea {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 5px 25px -5px, rgba(0, 0, 0, 0.04) 0px 5px 10px -5px;
  width: 100%;
  border-radius: 0.5rem;
  border-width: 1px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  margin-bottom: 2rem;
  font-family: Nunito;
  border: solid 2px rgb(228, 228, 231);
  outline-color: #f97316;
  max-width: 100%;
}

.legal-textarea {
  text-align: left;
  min-height: 50px;
}

@media (min-width: 640px) {
  nav span {
    font-size: 1.44rem;
  }

  h1 {
    font-size: 2.986rem;
  }

  .legal-label,
  .legal-input {
    text-align: left;
  }
  .form-container {
    flex-direction: row;
  }
}

.btn-main {
  cursor: pointer;
  font-size: 16px;
  font-family: Nunito;
  border: 0 solid;
  color: #fff;
  background-color: #000;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 9999px;
  transition: 0.2s;
}

.btn-main:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.container {
  max-width: 1024px;
  margin-inline: auto;
  padding: 1rem;
}
